<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">

    <!-- Favicon: Browser + iPhone Webclip -->
    <link rel="shortcut icon" href="[[URL]]img/favicon.ico" />
    <link rel="apple-touch-icon" href="[[URL]]img/iphone.png" />
    <link rel="canonical" href="[[PAGE]]">
    
	<title>Title</title>
</head>
<body>
	[%include content%]
</body>
</html>